img {
  width: 100%;
}

/* RESET & NORMALIZE */

/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3,
h4 {
  font-size: 1.8em;
}
h5,
h6 {
  font-size: 1.6em;
}

p {
  font-size: 1.2em;
}

p,
a,
label,
input {
  font-family: "Open Sans", sans-serif;
}

/* NAVBAR */

nav {
  background-color: #fff;
}

#nav-mobile li a {
  color: #000;
}

/* MAIN */

.main {
  padding: 60px 0;
  background-color: #40af7c;
  color: #fff;
}

.main p {
  padding: 10px 0 20px 0;
  font-weight: 100 !important;
}

.main a {
  margin: 10px auto;
}

/* QUEM SOMOS */

.quem-somos {
  padding: 40px 0;
}
.quem-somos span {
  font-weight: bold;
}

.quem-somos p {
  font-size: 0.9em;
}

/* SERVICES 2 */

.services2 {
  background: #40af7c;
  padding: 60px 0;
}

.services2 h1 {
  color: #fff;
}

.services2 ul li {
  font-size: 21px;
}

.services2 p {
  font-size: 14px;
}
.service-card {
  background: #f4f4f4;
}

.service-price a {
  margin: 20px 0;
}

.service-price a span {
  text-decoration: line-through;
  color: #c4302b;
}

#price-jornal,
#price-sinais {
  color: #40af7c;
  font-size: 21px;
  margin-right: 20px;
}

/* SERVICES + SIGN UP 

.services {
  background-color: #40af7c;
  padding: 40px 0;
  color: #fff;
}

.services h1 {
  padding-bottom: 20px;
}

.services p {
  margin-bottom: 20px;
}

#services-jornal {
  max-width: 60% !important;
  margin: 0 auto;
}

.signup {
  background-color: #40af7c;
  padding: 60px 0;
}

.signup h1 {
  padding-bottom: 20px;
  color: #fff;
}

.signup img {
  height: auto;
  width: 100%;
  margin-top: 20px !important;
}

.signup-price a {
  font-size: 1.5em !important;
  margin: 10px 0;
}

.signup-price a:hover {
  color: #0088cc !important;
}

.signup-price span {
  text-decoration: line-through;
  color: #d4d4d4;
  font-size: 0.8em !important;
}

/* SERVICES + SIGNUP */
/* TESTIMONIALS */

.testimonials {
  padding: 60px 0;
  color: #fff;
}

.testimonial {
  background-color: #40af7c;
  padding: 40px 80px !important;
}

/* SOCIAL MEDIA */

.social {
  padding: 60px 0;
}

.social h3 {
  padding: 20px 0;
}

.telegram-channel {
  background-color: #0088cc;
  padding: 120px 40px !important;
  color: #fff;
}

#telegram-channel {
  margin-top: 60px;
}

.youtube-channel {
  background-color: #c4302b;
  padding: 60px 40px !important;
  color: #fff;
}

.youtube-item {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

/* CONTACT */

.form-box {
  background-color: #40af7c;
  padding: 60px 40px;
  color: #fff;
}

/* label color */
.input-field label {
  color: #fff;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #fff;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #fff;
}
/* FOOTER */

footer {
  background-color: #40af7c;
  padding: 20px 0;
  color: #fff;
  font-weight: 400;
}

footer a {
  color: #fff;
  font-weight: 100;
}

footer img {
  width: 30px;
  height: auto;
}

.footer-social li {
  display: inline-block;
  padding: 20px 10px;
}

.footer-social li a img {
  min-width: 50px;
  color: #fff;
}
